.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/unplugged
!.yarn/install-state.gz
.git
packages/*/.vite
packages/*/.vitest
packages/*/coverage
packages/*/dist
wasm/target
