.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/unplugged
!.yarn/install-state.gz
packages/**/*.d.ts*
!packages/rating-tracker-backend/prisma/*.d.ts*
packages/**/*.tsbuildinfo
