# dependencies
node_modules
.cache
.yarn
.pnp.cjs
.pnp.loader.mjs

# testing
packages/*/coverage
packages/*/.vitest

# production
packages/*/dist

# vite
packages/*/.vite

# local dev environment
packages/backend/dev/postgresql
packages/backend/dev/signal-cli
packages/frontend/certs

# Prisma Client
packages/backend/prisma/client

# Rust
packages/wasm/*
!packages/wasm/package.json
!packages/wasm/wasm.d.ts
wasm/target

# misc
.DS_Store
packages/*/.env*
stash
.dccache
