# dependencies
node_modules
.yarn
.pnp.cjs
.pnp.loader.mjs

# testing
packages/*/coverage
packages/*/.vitest

# production
packages/*/dist

# vite
packages/*/.vite

# local dev environment
packages/backend/dev/nginx/certs
packages/backend/dev/postgresql
packages/backend/dev/redis
packages/backend/dev/signal-cli

# Prisma
packages/backend/prisma/client

# local test environment
packages/backend/test/*.sql

# Rust
packages/wasm/*
!packages/wasm/package.json
wasm/target

# misc
.DS_Store
packages/*/.env*
stash
.dccache
