# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
packages/*/coverage
packages/*/.vitest

# production
packages/*/dist

# vite
packages/*/.vite

# local dev environment
packages/rating-tracker-backend/dev/nginx/certs
packages/rating-tracker-backend/dev/nginx/dhparam
packages/rating-tracker-backend/dev/postgresql
packages/rating-tracker-backend/dev/redis
packages/rating-tracker-backend/dev/signal-cli

# Prisma
packages/rating-tracker-backend/prisma/client

# misc
.DS_Store
node_modules/.cache
packages/*/.env*
stash
.dccache
.eslintcache
